@use 'sass:math';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #171111;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
  color: #fbfafa;
}

$sizes: "sm", "md", "lg", "xl";
$base-class: "btn";

.#{$base-class} {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 4px;
}

@each $size in $sizes {
  .#{$base-class}__#{$size} {
    @if $size =="sm" {
      font__size: 12px;
      padding: 5px 10px;
    }

    @else if $size =="md" {
      font-size: 14px;
      padding: 8px 12px;
    }

    @else if $size =="lg" {
      font-size: 16px;
      padding: 10px 15px;
    }

    @else if $size =="xl" {
      font-size: 18px;
      padding: 12px 20px;
    }
  }
}